@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Stiliyan Koev</h3>

<address>
   Dame Gruev 2 street<br />
   Ruse, Bulgaria<br />
    <abbr title="Phone">Phone:</abbr>
   088 333 0922
</address>

<address>
    <strong>Email:</strong>   <a href="stiliyan.koev@gmail.com">stiliyan.koev@gmail.com</a><br />
</address>